h1 {
    color: black;
    text-align: center;
    font-family: 'Salsa', cursive;
}

span {
    color: #15BDFF;
}

@media (min-width: 1px) and (max-width: 720px) {

    body {
        display: grid;
        background-image: url("../images/one.png");
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 5px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .header {
        display: flex;
        justify-content: center;
        grid-area: 1/1/2/-1;

    }

    .center-content {
        display: flex;
        justify-content: center;
        padding: 10px;
        align-items: center;
        text-align: center;
        font-family: 'Gloria Hallelujah', cursive;
        font-family: 'Salsa', cursive;
        font-weight: 900;
        border-radius: 15px;
        animation-name: background-color;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
}

@media (min-width: 721px) and (max-width: 1080px) {

    body {
        display: grid;
        background-image: url("../images/one.png");
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 10px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .header {
        display: flex;
        justify-content: center;
        grid-area: 1/1/2/-1;
    }

    .center-content {
        display: flex;
        justify-content: center;
        padding: 15px;
        align-items: center;
        text-align: center;
        font-family: 'Gloria Hallelujah', cursive;
        font-family: 'Salsa', cursive;
        font-size: x-large;
        border-radius: 15px;
        animation-name: background-color;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
}

@media (min-width: 1081px) {

    body {
        display: grid;
        background-image: url("../images/one.png");
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .header {
        display: flex;
        justify-content: center;
        grid-area: 1/1/2/-1;
    }

    .center-content {
        display: flex;
        justify-content: center;
        padding: 20px;
        align-items: center;
        text-align: center;
        font-family: 'Gloria Hallelujah', cursive;
        font-family: 'Salsa', cursive;
        font-size: xx-large;
        font-weight: 900;
        border-radius: 15px;
        animation-name: background-color;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
}

@keyframes background-color {

    0% {
        background-color: #15BDFF;
    }

    50% {
        background-color: #15BDFF80;
    }

    100% {
        background-color: #15BDFF;
    }
}