h1 {
    color: black;
    text-align: center;
    font-family: 'Salsa', cursive;
}

span {
    color: #15BDFF;
}

@media (min-width: 1px) and (max-width: 720px) {

    body {
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: url("../images/one.png");
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 2fr 2fr 2fr;
        gap: 20px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 1/1/2/-1;
    }

    .center-content-one {
        display: grid;
        justify-content: center;
        grid-area: 2/2/3/3;
        padding: 20px;
        align-items: center;
        text-align: center;
        font-family: 'Forum', serif;
        font-size: large;
        font-weight: 900;
        border-radius: 15px;
        animation-name: background-color-one;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        height: 100px;
        width: 250px;
    }

    .center-content-two {
        display: grid;
        justify-content: center;
        grid-area: 3/2/4/3;
        padding: 20px;
        align-items: center;
        text-align: center;
        font-family: 'Forum', serif;
        font-size: large;
        font-weight: 900;
        border-radius: 15px;
        animation-name: background-color-two;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        height: 100px;
        width: 250px;
    }

    .center-content-three {
        display: grid;
        justify-content: center;
        grid-area: 4/2/5/3;
        padding: 20px;
        align-items: center;
        text-align: center;
        font-family: 'Forum', serif;
        font-size: large;
        font-weight: 900;
        border-radius: 15px;
        animation-name: background-color-three;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        height: 100px;
        width: 250px;
    }
}

@media (min-width: 721px) and (max-width: 1080px) {

    body {
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: url("../images/one.png");
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 2fr 2fr;
        gap: 20px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 1/1/2/-1;
    }

    .center-content-one {
        display: grid;
        justify-content: center;
        grid-area: 2/2/3/3;
        padding: 20px;
        align-items: center;
        text-align: center;
        font-family: 'Forum', serif;
        font-size: xx-large;
        font-weight: 900;
        border-radius: 15px;
        animation-name: background-color-one;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        height: 200px;
        width: 500px;
    }

    .center-content-two {
        display: grid;
        justify-content: center;
        grid-area: 3/2/4/3;
        padding: 20px;
        align-items: center;
        text-align: center;
        font-family: 'Forum', serif;
        font-size: xx-large;
        font-weight: 900;
        border-radius: 15px;
        animation-name: background-color-two;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        height: 200px;
        width: 500px;
    }

    .center-content-three {
        display: grid;
        justify-content: center;
        grid-area: 4/2/5/3;
        padding: 20px;
        align-items: center;
        text-align: center;
        font-family: 'Forum', serif;
        font-size: xx-large;
        font-weight: 900;
        border-radius: 15px;
        animation-name: background-color-three;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        height: 200px;
        width: 500px;
    }
}

@media (min-width: 1081px) {

    body {
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: url("../images/one.png");
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 2fr 2fr;
        gap: 20px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 1/1/2/-1;
    }

    .center-content-one {
        display: grid;
        justify-content: center;
        grid-area: 2/2/3/3;
        padding: 20px;
        align-items: center;
        text-align: center;
        font-family: 'Forum', serif;
        font-size: xx-large;
        font-weight: 900;
        border-radius: 15px;
        animation-name: background-color-one;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        height: 200px;
        width: 500px;
    }

    .center-content-two {
        display: grid;
        justify-content: center;
        grid-area: 3/2/4/3;
        padding: 20px;
        align-items: center;
        text-align: center;
        font-family: 'Forum', serif;
        font-size: xx-large;
        font-weight: 900;
        border-radius: 15px;
        animation-name: background-color-two;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        height: 200px;
        width: 500px;
    }

    .center-content-three {
        display: grid;
        justify-content: center;
        grid-area: 4/2/5/3;
        padding: 20px;
        align-items: center;
        text-align: center;
        font-family: 'Forum', serif;
        font-size: xx-large;
        font-weight: 900;
        border-radius: 15px;
        animation-name: background-color-three;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        height: 200px;
        width: 500px;
    }
}

@keyframes background-color-one {

    0% {
        background-color: #15BDFF;
    }

    50% {
        background-color: #15BDFF80;
    }

    100% {
        background-color: #15BDFF;
    }
}

@keyframes background-color-two {

    0% {
        background-color: #DC970E;
    }

    50% {
        background-color: #DB7A0D80;
    }

    100% {
        background-color: #DC970E;
    }
}

@keyframes background-color-three {

    0% {
        background-color: #E299FF;
    }

    50% {
        background-color: #FE98B980;
    }

    100% {
        background-color: #E299FF;
    }
}